.content {
    height: 100vh;
    width: 100vw;
    background-image:  url(https://th.bing.com/th/id/R.38d8ad24f473c218c2104b86d414a0d2?rik=kvD%2faN87EBVT5A&riu=http%3a%2f%2fimages6.fanpop.com%2fimage%2fphotos%2f39400000%2fthor-thor-39486800-1600-800.jpg&ehk=rPGgTmgK7bKqQJRyJoqRQODSDTjm%2bU0im06ZT%2fRwnr0%3d&risl=&pid=ImgRaw&r=0);
    color: black;
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 100%;
}

h1 {
    margin: 0;
}

.side-bar {
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgb(117, 0, 117);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    background-color: rgb(94, 1, 94);
    transition: 0.3s;
}

a:hover {
    background-color: rgb(187, 0, 187);
    transition: 0.3s;
}