.nav-item {
    border: none;
    padding: 7px;
    background-color: inherit;
    margin-bottom: 3px;
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.nav-item:hover {
    background-color: inherit;
    color: black;
}